<div class="form_card">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card_title" *ngIf="id === undefined">Új hírdetés</mat-card-title>
      <mat-card-title class="card_title" *ngIf="id">Hírdetés módosítása</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="column" fxFlex fxLayoutAlign="space-evenly center">
      <mat-form-field class="fill_horizontal">
        <mat-label>Hírdetés címe</mat-label>
        <input matInput required type="text" [formControl]="title">
      </mat-form-field>

      <mat-form-field class="fill_horizontal">
        <mat-label>Ár (M Ft)</mat-label>
        <input matInput required type="number" [formControl]="price">
      </mat-form-field>

      <mat-form-field class="fill_horizontal">
        <mat-label>Város</mat-label>
        <input matInput required type="text" [formControl]="city">
      </mat-form-field>

      <mat-form-field class="fill_horizontal">
        <mat-label>Utca</mat-label>
        <input matInput required type="text" [formControl]="street">
      </mat-form-field>

      <mat-form-field class="fill_horizontal">
        <mat-label>Alapterület (m2)</mat-label>
        <input matInput required type="number" [formControl]="size">
      </mat-form-field>

      <mat-form-field class="fill_horizontal">
        <mat-label>Szobák száma</mat-label>
        <input matInput required type="number" [formControl]="rooms">
      </mat-form-field>

      <mat-form-field class="fill_horizontal">
        <mat-label>Fűtés</mat-label>
        <input matInput required type="text" [formControl]="heating">
      </mat-form-field>

      <mat-form-field class="fill_horizontal">
        <mat-label>Leírás</mat-label>
        <textarea rows="6" matInput required [formControl]="description"></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions fxLayout fxFlex fxLayoutAlign="center center">
      <button *ngIf="id" mat-raised-button color="primary" (click)="updateListing()" class="button_margin">Módosítás</button>
      <button *ngIf="id === undefined" mat-raised-button color="primary" (click)="addListing()" class="button_margin">Feltöltés</button>
      <button mat-raised-button color="secondary" routerLink="/my-account" class="button_margin">Mégsem</button>
    </mat-card-actions>
  </mat-card>
</div>
