<mat-sidenav-container>
  <mat-sidenav>
    <app-menu [loggedInUser]="loggedInUser"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div fxFlex fxLayout fxLayoutAlign="start">
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>Ingatlanok</li>
          <li fxHide.xs><a routerLink="/main">Hírdetések</a></li>
        </ul>
      </div>

      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="5px" class="navigation-items">
          <li>
            <button mat-button [mat-menu-trigger-for]="userMenu">
              <mat-icon>account_circle</mat-icon>
              Saját fiók
            </button>

            <mat-menu #userMenu="matMenu">
              <button *ngIf="!loggedInUser" mat-menu-item routerLink="/login">Bejelentkezés</button>
              <button *ngIf="loggedInUser" mat-menu-item routerLink="/my-account">Hírdetéseim</button>
              <button *ngIf="loggedInUser" mat-menu-item (click)="logout()">Kilépés</button>
            </mat-menu>
          </li>
        </ul>
      </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
