<div class="center_vertically">
  <div class="form_card">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="card_title">{{listing?.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="listing?.imageURL" class="listing_image">
      <mat-card-content>
        <p>Ár: {{listing?.price}} M Ft</p>
        <p>{{listing?.city}}, {{listing?.street}}</p>
        <p>Alapterület: {{listing?.size}} m2</p>
        <p>Szobák száma: {{listing?.rooms}}</p>
        <p>Fűtés: {{listing?.heating}}</p>
        <p>Leírás: {{listing?.description}}</p>
        <p>{{user?.name?.lastname}} {{user?.name?.firstname}} | {{user?.email}} | {{user?.phone}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

