<!--<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile *ngFor="let listing of listings" class="listing_card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{listing.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/no_image.jpeg">
      <mat-card-content>
        <p>{{listing.city}} {{listing.street}}</p>
        <p>{{listing.size}} m2</p>
        <p>{{listing.price}} M Ft</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>-->
<app-listing-cards [listings]="listings" [edit]="false"></app-listing-cards>

