<!--<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile *ngFor="let listing of listings" class="listing_card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{listing.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/no_image.jpeg">
      <mat-card-content>
        <p>{{listing.city}} {{listing.street}}</p>
        <p>{{listing.size}} m2</p>
        <p>{{listing.price}} M Ft</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>-->
<!--<div>{{date | dateFormat}}</div>-->
<div>{{"Tue May 2 2023 17:50:25 GMT+0200 (Central European Summer Time)" | dateFormat}}</div>
<div>{{date.toString()}}</div>
<app-listing-cards [listings]="listings" [edit]="false"></app-listing-cards>

