/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.center_vertically {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.listing_card {
  padding: 20px;
  background: white;
}

.button_margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.fill_horizontal {
  width: 90%;
}

.form_card {
  padding: 20px;
  width: 80%;
  margin: auto;
}
.card_title {
  padding-bottom: 15px;
}

.listing_image {
  width: 90%;
  margin: auto;
}

mat-sidenav {
  width: 250px;
}
